@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
#cart, #menu{
    display: none;
}
html{
    font-size: 16px;
}


body{
    font-family: 'Montserrat', sans-serif;
}

:root {
    --border-try: 2px solid black;
}

ul {
    list-style: none;
}

.header {
    background-image: linear-gradient(to right, rgb(65, 0, 81, 0.6), rgba(65, 0, 81, 0.5)), url(./Images/header.png);
    background-size: cover;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: 80px;
    align-items: center;
}

.profile-con{
    width: 40px;
    height: 40px;
}

.logoheader{
    width: 264px;
}

.list {
    display: flex;
    /* width: 50vw; */
    /* margin-left: 10rem; */
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

.list li a {
    text-decoration: none;
    font-size: 0.875rem;
    color: rgb(255, 255, 255,1);
    /* margin: 0 10px; */
    font-weight: 500;
}
.list li{
    text-decoration: none;
    font-size: 0.875rem;
    color: rgb(255, 255, 255);
    margin: 0 20px;
    font-weight: 500;
}

.list li a:hover {
    text-decoration: none;
    color: #28B9CD;
    cursor: pointer;
}

.profile-img {
    text-decoration: none;
    /* height: 2.5vw; */
    /* width: 2.5vw; */
    height: 40px;
    width: 40px;
    padding-top: 10px;
    text-align: center;
    border-radius: 50%;
    background-color: #28B9CD;
    font-weight: 700;
    color: black;
    font-size: 16px;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 7rem;
}

.content h1 {
    font-size: 4.5rem;
    text-align: center;
    color: #ffffff;
    margin-top: 3rem;
}

#down{
    filter: invert();
    height: 20px;
}

.explore {
    text-decoration: none;
    background-color: #28B9CD;
    color: black;
    /* padding: 1rem 1.2rem; */
    margin-bottom: 2rem;
    border-radius: 2px;
    padding: 20px 0;
    font-weight: 500;
    height: 60px;
    width: 220px;
    font-weight: 500;
    text-align: center;
}

.first {
    display: flex;
    width: 100%;
    justify-content: space-around;

    /* min-height: 80vh; */
    padding: 110px;
    align-items: flex-start;
}

.head {
    width: 30vw;
    font-size: 16px;
    height: 216px;
    width: 398px;
}

.first img {
    width: 321px;

    height: 428px;
    margin-right: 1rem;
}

.first p {
    width: 30vw;
    color: #000000;
    height: 336px;
    width: 330px;
    line-height: 28px;
}

.first-color {
    color: #28B9CD;
    font-size: 62px;
}

.second-color {
    color: #000;
    font-size: 62px;
}

.second {
    display: flex;
    width: 100%;
    padding: 4rem 6rem;
}



.courses {
    margin-left: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.course-card {
    /* border: 0.2px solid rgb(161, 159, 159); */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 440px;
    width: 245px;
    margin: 15px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14);

}

.card-img {
    width: 100%;
    height: 35%;
}

.card-rating {
    display: block;
    width: 100%;
    margin-left: 2rem;
    margin-top: 1rem;
}

.card-rating span {
    /* border: 2px solid black; */
    display: inline-block;
    color: #ffffff;
    margin-right: 5px;
    background-color: rgb(35, 158, 41);
    border-radius: 5px;
    padding: 2px;
    font-size: 14px;
}

#star {
    height: 15px;
    width: 15px;
    filter: invert();

}

.card-heading {
    font-size: 18px;
    width: 90%;
    margin: auto;
    margin-top: 10px;

}

.card-owner {
    display: flex;
    color: #28B9CD;
    width: 90%;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 500;
}

.owner-photo {
    border: 2px solid black;
    margin-right: 5px;
    width: 1.5rem;
    text-align: center;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #410051;
    /* font-weight: bold; */
}

.card-dur {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    justify-content: space-between;
    color: gray;
    font-size: 12px;
}


.card-btn {
    border: 2px solid #28B9CD;
    display: block;
    width: 85%;
    text-align: center;
    margin: 10px auto;
    padding: 0.5rem 2rem;
    color: #28B9CD;
}

.third {
    width: 100%;
    display: flex;
    justify-content: center;
    /* min-height: 100vh; */
    padding: 4rem;
    background-image: linear-gradient(to right, rgb(65, 0, 81, 0.6), rgba(65, 0, 81, 0.6)), url(./Images/Group.png);
    background-size: cover;

}

.third-content {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    /* padding-left: 2rem; */
    width: 431px;
}

.group {
    display: flex;
    width: 45vw;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 2rem; */
}

.group-img {
    position: relative;
    width: 15vw;
    width: 207px;
    height: 276px;
    margin: 30px;
    /* margin-bottom: 1rem; */
}

.group-img figcaption {
    position: absolute;
    bottom: 0px;
    font-size: 1.875rem;
    width: 207px;
    height: 60px;
    color: #ffffff;
    padding: 15px;
    font-weight: bold;
    padding-left: 20px;
    background-image: linear-gradient(to right, rgb(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));  
}

.group-img figcaption p{
    position: absolute;
    bottom: 0px;
    font-weight: 700;
    font-size: 30px;
    
}

.third p {
    color: #ffffff;
    font-size: 24px;
    line-height: 32px;
    margin: 2rem 0;
    font-weight: 400;
    width: 395px;
}

.third-btn {
    text-decoration: none;
    background-color: #28B9CD;
    color: black;
    padding: 1rem 1.2rem;
    margin-top: 2rem;
    border-radius: 2px;
    width: 180px;
    height: 50px;
    text-align: center;
    font-weight: 500;
}

/* .third-btn:hover {
    text-decoration: none;
    background-color: #410051;
    color: black;
    padding: 1rem 1.2rem;
    margin-top: 2rem;
    border-radius: 2px;
    width: 10vw;
} */

.fourth {
    display: flex;
    padding: 7rem 5rem;
    justify-content: center;
    padding-bottom: 2rem;
    /* min-height: 100vh; */
}

.fourth-img {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    flex-wrap: wrap; */
    width: 47vw;
    display: flex;
}

.fourth-card {
    margin: 0 1.5rem;
    margin-bottom: 3rem;
}

.fourth-card p {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 15px 0;
}

.fourth-card h3 {
    font-size: 2rem;
    color: #28B9CD;
}

.fourth-content {
    /* border: var(--border-try); */
    /* height: 50%; */
    width: 35vw;
    padding-left: 1rem;
}

.fourth-info {
    margin: 2rem 0;
    /* border: var(--border-try); */
    display: flex;
    /* width: 40%; */
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.fourth-info p {
    padding-left: 1.5rem;
    font-size: 1.375rem;
    border-left: 10px solid #28B9CD;
    margin: 20px 0;
    line-height: 28px;
}

.review-section {
    /* border: var(--border-try); */
    padding: 4rem 6rem;
}

.review {
    display: flex;
    margin: 1rem 1rem;
    min-height: 18vh;
    align-items: center;
    justify-content: space-around;
    height: 174px;
    width: 80vw;
    margin: 30px auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 10px solid #28B9CD;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14);
    padding: 0 20px;
}

.review-content {
    width: 80%;
    font-size: 1rem;
    line-height: 28px;
    font-weight: 500;
}

.review-head {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.reviewer {
    /* border: var(--border-try); */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 9vw;
    height: 100%;
    justify-content: center;

}

.reviewer img {
    height: 50px;
    width: 50px;
    /* border: var(--border-try); */
    border-radius: 20px;
    margin-bottom: 10px;
}

.reviewhead{
    margin-bottom: 50px;
}

.review-name {
    font-size: 1rem;
    font-weight: bold;
}

.review-des {
    font-size: 0.875rem;
}

.footer {
    background-image: linear-gradient(to right, rgb(65, 0, 81, 0.7), rgba(65, 0, 81, 0.7)), url(./Images/footer.png);
    background-size: cover;
    color: #ffffff;
    padding-top: 2rem;
}



.footer-content {
    /* border: var(--border-try); */
    display: flex;
    width: 80vw;
    padding: 2rem;
    justify-content: space-around;
    margin: 2rem auto;
}

.bottom {
    color: #ffffff;
    background-color: black;
    text-align: center;
    padding: 2rem;
    height: 90px;
}

.add {
    /* border: var(--border-try); */
    width: 30%;
    padding: 0rem 1rem;
    font-weight: 500;
}

.add h4 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.add p {
    margin-right: 2rem;
}

.contact-info p {
    margin: 15px 0;
}

.contact-info p svg {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.icons svg {
    margin-right: 1rem;
}

.footer-head {
    margin-left: 13rem;
}

.white-head {
    color: white;
    font-size: 62px;
}

@media only screen and (max-width: 450px) {

    .list,
    .profile,
    .explore,
    .card-btn,
    .owner-photo {
        display: none;
    }

.fourth-img img{
    width: 100%;
}

    #menu, #cart{
        display: inline;
        filter: invert();
    }
    #cart{
        height: 25px;

    }
    html{
        font-size: 12px;
    }
    .logo {
        display: inline-block;
        margin: auto;
    }

    .content {
        padding: 0 20px;
    }

    .content h1 {
        font-size: 4rem;
    }

    .first-color,
    .second-color,
    .white-head {
        font-size: 3rem;
    }

    .first,
    .second,
    .third,
    .fourth,
    .footer-content,
    .review, .fourth-img {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        padding: 20px;
    }

    .first p,
    .first img,
    .head {
        width: 100%;
    }

    .head {
        margin: 20px 0;
    }


    .courses {
        margin: 0%;
        padding: 0%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-left: 0;
    }

    .course-card {
        width: 100%;
        margin: 10px 0;
    }

    .third {
        justify-content: flex-start;
    }

    .third-content {
        margin: 0%;
        padding: 0 0 0 0;
    }

    .third p {
        margin: 10px 0;
    }

    .third-btn {
        padding: 1rem 1.2rem;
        border-radius: 2px;
        text-align: center;
        width: 100%;
        margin: 0%;
        margin-bottom: 20px;
    }

    .group {
        margin: 0;
        padding: 0;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        /* border: var(--border-try); */
        align-items: center;
    }

    .group-img {
        width: 35vw;
        margin: 10px;
    }

    .group-img>figcaption {
        width: 100%;
    }

    .group-img img {
        width: 100%;
    }

    .fourth-content {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }

    .fourth-info {
        margin: 0 0 0 0;
        justify-content: center;
        height: 24vh;
        margin: 30px 0;
    }

    .fourth-info p {
        margin: 10px 0;
    }


    .fourth-img {
        flex-wrap: nowrap;
        /* border: var(--border-try); */
        /* max-height: 270vh; */
        width: 100%;
        padding: 0 0 0 0;
        align-items: center;
        /* border: var(--border-try); */
    }

    .fourth-card {
        width: 100%;
        margin: 20px 0;
        text-align: center;
    }


    .review-section {
        margin: 0 0 0 0;
        padding: 20px;
    }

    .review {
        margin: 20px 0;
    }

    .review-content {
        width: 100%;
        margin-bottom: 10px;
    }

    .add {
        width: 100%;
        margin: 20px 0;
        /* border: 4px solid black; */
    }

    .footer-head {
        margin: 0 0 0 0;
        padding: 20px;
    }

    .footer {
        min-height: 98vh;
    }

    .first img{
        /* height: 100vh; */
    }
    /* .header{
        height: auto;
    } */
    .content{
        padding: 40px;
    }

    .card-img {
        width: 80%;
        height: 25%;
    }
    .card-heading{
        font-size: 16px;
        height: 25%;
        overflow: hidden;
    }
    .third-btn{
        width: 80%;
    }
}




@media (max-width:1245px){
    
}


@media (min-width:450px) and (max-width:1382px) {
    html{
        font-size: 14px;
    }

    .first p{
        margin-top: 20px;
    }

    .content{
        height: 100vh;
    }
    .content h1 {
        font-size: 4rem;
    }

    .second{
        padding: 2rem;
    }

    .first-color,
    .second-color,
    .white-head {
        font-size: 2.5rem;
    }
    .list {
        margin: 0%;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    li {
        margin: 0 5px;
    }

    .list{
        width: 60vw;
    }
    .profile-img {
        height: 30px;
        width: 30px;
    }

    .first {
        justify-content: center;
        flex-wrap: wrap;
        min-height: 40vh;
        padding-top: 40px;
    }

    .first img {
        width: 23vw;
        height: 23vh;
        margin: 0;
    }

    .head{
        width: 40vw;
        margin: 0 50px;
        /* align-self: center; */
    }

    .first p {
        width: 70%;
    }

    .second,
    .third,
    .fourth {
        flex-direction: column;
    }

    .course-card {
        width: 30vw;
    }

    .group {
        width: 100%;
        margin: 1rem;
    }

    .group-img {
        width: 20vw;
        margin: 0 10px;
    }

  
    .group-img img {
        width: 100%;
    }

    .group-img>figcaption{
        width: 100%;
    }
    .third-btn {
        display: block;
        margin: auto;
        text-align: center;
        width: 30vw;
    }

    .fourth-info {
        height: 40vh;
    }

    .courses{
        margin: 0%;
        
            margin-top: 20px;
        
    
    }

    .fourth-img {
        display: flex;
        flex-direction: row;
        /* height: 20vh; */
        /* align-items: center; */
        /* align-items: flex-start; */
        justify-content: space-around;
        /* flex-wrap: wrap; */
    }

    .course-card{
        margin: 0%;
        margin-bottom: 10px;
    }
    .second{
        padding: 1rem;
        /* border: var(--border-try); */
    }


    .first{
        padding: 4rem;
        /* border: var(--border-try); */
    }

    .fourth{
        /* border: var(--border-try); */
        padding: 1.5rem;
    }
    .review-section{
        padding: 1rem;
    }
    .footer-content{
        width: 100%;
    }

    .third{
        padding: 2rem;
    }
    .third-content{
        margin: 0%;
        padding: 0;
    }

    .group-img figcaption{
        font-size: 15px;
    }

}


@media (min-width:450px) and  (max-width:970px) {
    .navbar{
        flex-direction: column;
        width: 100%;
        align-items: center;
        /* height: 20vh; */
    }
    .profile{
        display: none;
    }
    .list{
        width: 100%;
        margin: 1rem 1rem;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    li{
        align-items: center;
    }

}



@media (max-width:530px){
    .profile, .list{
        display:none;

    }
    html{
        font-size: 13px;
    }
    .logoheader{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    #menu, #cart, .logo{
        display: inline-block;
    }
    #menu,#cart{
        filter: invert();
    }
    #cart{
        height: 25px;
    }
    .logo{
        width: 50vw;
        margin-left: 50px;
    }

}

@media (max-width:400px){
    .content h1{
        font-size: 40px;
    }

    .first-color,
    .second-color,
    .white-head {
        font-size: 32px;
    }

    .group-img>figcaption{
        font-size: 20px;
    }
}
@media (min-width:600px){
    .content h1{
        font-size: 50px;
    }

    .first-color,
    .second-color,
    .white-head {
        font-size:42px;
    }
    .cart-heading{
        font-size: 17px;
    }

    .group-img > figcaption{
        font-size: 25px;
    }

}
@media (min-width:1000px){
    .content h1{
        font-size: 60px;
    }

    .first-color,
    .second-color,
    .white-head {
        font-size: 52px;
    }
}
@media (min-width:1350px){
    .content h1{
        font-size: 72px;
    }

    .first-color,
    .second-color,
    .white-head {
        font-size: 62px;
    }

}

@media (max-width:600px){
    .footer-content{
        flex-direction: column;
        padding: 0 30px;
        width: 100%;
        align-items: center;
    }

    .add{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}


@media (max-width:300px){
    .logo{
        width: 40vw;
        margin: 0%;
        align-items: center;
    }
    .logo a img{
        width: 90%;
    }
    #cart{
        height: 20px;
    }
}

@media (max-width:700px) {
    .courses {
        margin: 0%;
        padding: 0%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-left: 0;
    }
    .course-card{
        width: 45vw;
    }
}

@media (max-width:290px){
    .courses{
        display: flex;
        flex-direction: column;
        margin: 0%;
    }

    .course-card{
        width: 100%;
    }

    .content h1{
        font-size: 20px;
    }
    .content p{
        font-size: 16px;
    }

    .first-color,
    .second-color,
    .white-head {
        font-size:20px;
    }

    .fourth-card h3{
        font-size: 16px;
    }

}


@media (min-width: 450px) and (max-width: 1080px){
.first {
    padding: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 40px;
}

.first img {
    width: 30vw;
    height: 60vh;
    margin-right: 4rem;
}

.first p {
    width: 30vw;
    color: #000000;
    height: fit-content;
    width: 80vw;
    line-height: 28px;
}
}


@media (min-width: 450px) and (max-width: 1382px){
.third {
    padding: 2rem;
    align-items: center;

    flex-direction: column;

    height: fit-content;
}

.group-img{
    height: fit-content;
}

}


@media only screen and (max-width: 450px){
.group-img {
    width: 35vw;
    margin: 10px;
    height: fit-content;
}
}

@media only screen and (max-width: 450px){
.first p, .first img, .head {
    width: 100%;
    height: fit-content;
}

}

@media only screen and (max-width: 450px){
.course-card {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    height: fit-content;
}
}

@media only screen and (max-width: 450px){
.review {
    margin: 20px 0;
    height: fit-content;
}

}

@media (min-width: 450px) and (max-width: 1382px){
.fourth-info {
    height: fit-content;
}
.fourth{
    align-items: center;
}
.fourth-content{
    width: 80%;
}
}


@media only screen and (max-width: 450px){
.fourth-content {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: fit-content;
}


.fourth-info {
    margin: 0 0 0 0;
    justify-content: center;
    height: fit-content;
    margin: 30px 0;
    width: 70vw;
}
}

@media (min-width: 450px) and (max-width: 800px){
.fourth-img {
    display: flex;
    flex-direction: row;
    /* height: 20vh; */
    /* align-items: center; */
    /* align-items: flex-start; */
    justify-content: space-around;
    flex-wrap: wrap;
}

.review{
    height: fit-content;
}
}

@media (min-width: 450px) and (max-width: 1382px){
.first {
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 40px;
    height: fit-content;
}
}

@media (min-width: 800px) and (max-width: 1382px){
.first img {
    height: 50vh;
    width: 30vw;
}
}

@media (min-width: 450px) and (max-width: 1382px){
    .first img {
        height: 50vh;
        width: 40vw;
        margin-bottom: 20px;
    }
    }

    @media (min-width: 450px) and (max-width: 1382px){
.first p {
    height: fit-content;
}


}

.group-img {
    margin-bottom: 20px;
}

@media only screen and (max-width: 450px){
.fourth-content {
    
    width: 90vw;
}

}

@media only screen and (max-width: 450px){
.third p {
    margin: 10px 0;
    height: fit-content;
    font-size: 14px;
    width: 80vw;
}
.third-btn{
    width: 80vw;
}

.group-img figcaption{
    height: 30px;
    padding-top: 5px;
    font-size: 14px;
}
}

@media (min-width: 700px) and (max-width: 1382px){
    .first p {
        height: fit-content;
    }
    
    .group-img figcaption{
        height: 40px;
        padding-top: 5px;
        font-size: 25px;
    }
    }